@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
}
.animating-app {
  animation-duration: 2s; /* don't forget to set a duration! */
}
.animating-comp {
  animation-duration: 2.6s; /* don't forget to set a duration! */
}
